.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 420px;
}

.grid div {
    height: 60px;
    width: 60px;
}

.player-one {
    background-color: red;
    border-radius: 60px;
}

.player-two {
    background-color: blue;
    border-radius: 60px;
}